.navbar{
    max-height: 30px;
}
a.navbar-brand{
    font-size: 40px;
}
.navbar-nav{
    width: auto;
    font-size: 30px;
}
h1{
    position: absolute;
    top: 5%;
    left:10%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
#bg{
    position: fixed;
    z-index: -50;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
h2{
    position: absolute;
    top: 20%;
    left: 10;
    background-color: white;
}
.title{
    font-size: 35px;
}
h4{
    position: absolute;
    top: 20%;
    left:50%;
    background-color: white;
}
.col-sm-12{
    position: absolute;
    top: 20%;
    left: 3%;
    background-color: white;
}
#navbarDropdownMenuLink{
    padding-left: 630px;
    display: inline-block;
    left: 255px;

}
::content{
    position:absolute;
    top: 25%;
    left: 3%;
}
div.col-sm-12.col-md-12 div.col-lg-6.col-sm-12 img {
    width: 100%;
  }
  div.imagetiles div.col-lg-6.col-sm-12 img {
    width: 100%;
  }
  .imagetiles {
    background-color: white;
  }
  div.col-sm-12.col-md-12 p {
    color: black;
    font-size: medium;
  }
  
  .panel-body:hover {
    border-color: blueviolet;
    border size: 50px;
  }