#bg{
    position: fixed;
    z-index: -50;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
h1{
    position:absolute;
    width: auto;
    top:5%;
    left: 5%;
}
.navbar{
    max-height: 50px;
    font-size: 20px;
}
a.navbar-brand{
    font-size: 30px;
}
.navbar-expand-lg{
    display:flex;
    flex-basis: auto;

}
h2{
    position: absolute;
    top: 25%;
    left: 3%;
    background-color: white;
}
h4{
    position: absolute;
    top: 25%;
    left:64%;
    background-color: white;
}
.col-sm-12{
    position: absolute;
    top: 25%;
    left: 5%;
}
h5{
    position: absolute;
    top:25%;
    left:5%;
}
